/*Basic reset*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, red,blue);
    color: white;
    text-align: center;
}

img {
    width: 150px;
    border-style: groove;
    border-color: gray;
    border-width: 10px;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    margin: 10px;
    border: 2px solid white;
    width: 200px;
    height: 150px;
    object-fit: fill;
    cursor: pointer;
}

/*CSS for event calendar*/

#event-calendar {
    margin: 20px;
    color: white;
}

#event-calendar ul {
    list-style-type: none;
    padding: 0;
}

#event-calendar li {
    padding: 10px;
    border-bottom: 1px solid white;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}